* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

   background-color: #FFDEE9;
   background-image: linear-gradient(0deg,#3a1d3a 0%,#1bdcf1 100%);
   background-repeat: no-repeat;
   background-size: cover;


    backdrop-filter: .6;
}

.navbar {
    text-align: center;
    background-color: #333333;
    color: #efefef;
    padding: 20px;
    box-shadow: 0 2px 10px wheat;
}

.navbar h1 {
    font-size: 32px;
    text-shadow: 0px 2px 1px white;

}


.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    padding: 30px;
    border-radius: 16px;
    width: 80vw;
     gap: 20px;
    opacity: .6;


}

.color-boxs {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.color-box {
    margin: 5px;
    width: 400px;
    height: 200px;
    border: 1px solid black;

}

#guess-color-box {
    background-color: rgb(0, 0, 0);

}

.sliders {
    display: flex;
    flex-direction: column;
}
/* input ranges decorations */
input {
    width: 50vw;
}


/* lables text editing  */
label{
    color: white;
    text-shadow: 1px 1px 1px white;
}
.buttons {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;


}

button {
    background-image: linear-gradient(white, blue);
    color: white;
    font-weight: bolder;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 2px 5px wheat;
}

button:hover {
    background-image: linear-gradient(red, black);
    box-shadow: 0px ;

}

/* Media query for screens with a maximum width of 768 pixels */
@media (max-width: 768px) {

    /* nav bar font size */
    .navbar h1 {
        font-size: 25px;
    }

    .color-box {

        width: 200px;
        height: 200px;
    }

    .container {
        height: 95vh;
        gap: 5px;
    }

    button {
        margin: 5px;
        padding: 5px;
    }



}

/* Media query for screens with a minimum width of 769 pixels and a maximum of 1200 pixels */
@media (min-width: 769px) and (max-width: 1200px) {}

/* Media query for screens with a minimum width of 1201 pixels */
@media (min-width: 1201px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }

}